# PYTHON (jup notebook)

## Side headings
- Python Side Headings
  - Side heading 1
  - Side heading 2
 
 # Font style
 - *Italic*
 - **bold**
 - ***italic+bold***

# Print Function
- print function used to print specific text or message

In [1]:
print("Hello world")

Hello world

In [20]:
print ("Hello,world")

Hello,world

In [5]:
print("one","two","3")

one two 3

In [14]:
print(("HI"), ("hello"))

HI hello

In [32]:
print(("HEllo"),("Python"),("Learner"))
print ("LOL")
print("OMG")

HEllo Python Learner
LOL
OMG

# Variables
## To store some data values

In [35]:
a = 10 # 1 Variable & 1 value 
print(a)

10

In [37]:
a=b=c=d=10 # multi variables + 1 value
print (a,b,c,d)

10 10 10 10

In [46]:
a,b,c,d=10,20,30,40 # Multi variables + multi values
print(a,b,c)

10 20 30

# Input Functions
- Accept input from user

In [59]:
# input as text
x = input("Enter Your Name: ")
print ("Your name is:",x)

Enter Your Name: sandeep
Your name is: sandeep

# Data Types

In [54]:
# input as number
x = int(input("Enter a number:"))
print(x)
print(type(x))

Enter a number:20
20
<class 'int'>

In [55]:
a = 10.5
print(a)
print(type(a))

10.5
<class 'float'>

In [58]:
A= "Sandeep"
print(A)
print(type(A))

Sandeep
<class 'str'>

# Conversions

In [69]:
# integer
a=10
print(a,type(a))
f = float(a)
print(f,type(f))
s= str(a)
print(s,type(s))

10 <class 'int'>
10.0 <class 'float'>
10 <class 'str'>

In [76]:
# String
x = "111"
print(x,type(x))
f=float(x)
print(f,type(f))
i=int(x)
print(i,type(i))

111 <class 'str'>
111.0 <class 'float'>
111 <class 'int'>

In [82]:
# Float
c=1.2
print(c,type(c))
s=str(c)
print(s,type(s))
i=int(c)
print(i,type(i))

1.2 <class 'float'>
1.2 <class 'str'>
1 <class 'int'>

# Examples

In [114]:
A= int(input("Enter a number:"))
B= int(input("Enter a number:"))
C=A+B
D=A-B
E=A*B
F=A/B
print(C,D,E,F)

Enter a number:10
Enter a number:20
30 -10 200 0.5

In [116]:
n= input("Enter your name :")
print("name is ",n)

Enter your name :James
name is  James

In [125]:
pi=3.14
r= int(input("Enter radius:"))
print(pi*r*r)

Enter radius:2
12.56

In [123]:
A= int(input("Enter a year"))
A=A+50
print(A)

Enter a year1000
1050